@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --navbg: #DED5D4;
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


section{
  min-height: 100vh;
}

#landing-text{
  line-height: 0.85 !important;
}

#contact-fancy-text{
  line-height: 1.0 !important;
}

.grid{
  grid-template-rows:min-content;
}

/* nav{
  background-image: radial-gradient( rgba(0, 0, 0, 0) 1px, var(--navbg) 1px );
    background-size: 4px 4px;
  backdrop-filter: blur(12px);
  
} */

/* @media screen and (prefers-color-scheme: dark) {
  nav{
    background-image: radial-gradient( rgba(0, 0, 0, 0) 1px, #303030 1px );
  }
}

@media screen and (prefers-color-scheme: light) {
  nav{
    background-image: radial-gradient( rgba(0, 0, 0, 0) 1px, #DED5D4 1px );
  }
} */
/* 
:is(.dark .dark\nav){
  
    background-image: radial-gradient( rgba(0, 0, 0, 0) 1px, #303030 1px );
    background-size: 4px 4px;
  backdrop-filter: blur(12px);
  
}

:is(.light .light\nav){
  
  background-image: radial-gradient( rgba(0, 0, 0, 0) 1px, #DED5D4 1px );
  background-size: 4px 4px;
  backdrop-filter: blur(12px);

} */