@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* cursor: none; */
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


section{
  min-height: 100vh !important;
}
#footer{
  min-height: 75vh !important;
}
#landing-text{
  line-height: 0.85 !important;
}
#footer-landing-text{
  line-height: 1 !important;
}
#about-landing-text{
  line-height: 0.9 !important;
}

#contact-fancy-text, #zero-line-height{
  line-height: 1.0 !important;
}
#contact-button{
  clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%, 0 35%);
}

.grid{
  grid-template-rows:min-content;
}

/* nav{
  background-image: radial-gradient( rgba(0, 0, 0, 0) 1px, var(--navbg) 1px );
    background-size: 4px 4px;
  backdrop-filter: blur(12px);
  
} */

/* @media screen and (prefers-color-scheme: dark) {
  nav{
    background-image: radial-gradient( rgba(0, 0, 0, 0) 1px, #303030 1px );
  }
}

@media screen and (prefers-color-scheme: light) {
  nav{
    background-image: radial-gradient( rgba(0, 0, 0, 0) 1px, #DED5D4 1px );
  }
} */
/* 
:is(.dark .dark\nav){
  
    background-image: radial-gradient( rgba(0, 0, 0, 0) 1px, #303030 1px );
    background-size: 4px 4px;
  backdrop-filter: blur(12px);
  
}

:is(.light .light\nav){
  
  background-image: radial-gradient( rgba(0, 0, 0, 0) 1px, #DED5D4 1px );
  background-size: 4px 4px;
  backdrop-filter: blur(12px);

} */


.contact-container {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
  transform: translateY(100%);
  /* opacity: 0; */
}

.contact-container.open {
  transform: translateY(0);
  /* opacity: 1; */
}

.movable {
  width: 20px;
  height: 20px;
  background: gold;
  position: absolute;
  z-index: 999999999;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  transition: background 0.5s;
}

.movable.active {
  border-radius: 811px;
background: radial-gradient(50% 50% at 50% 50%, #E72B00 0%, rgba(232, 150, 77, 0.45) 66.67%, rgba(217, 217, 217, 0.00) 100%);
mix-blend-mode: color-burn;
opacity: 50%;
}

.movable.active:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  .movable {
      display: none !important;
  }
  .movable.active {
    display: none !important;
  }
  .movable.active:after {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  #footer-landing-text{
    line-height: 0.85 !important;
  }
  section{
    min-height: 100vh;
  }
  #footer{
    min-height: 85vh !important;
  }
}


/* Loading Animation Css */
.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000; /* Black background */
  z-index: 9999; /* Ensure it's above other content */
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.image {
  width: 50px; /* Set the width to 50px */
  height: 50px; /* Set the height to 50px */
}
/* -----------> */