.underlineEffect {
    display: inline-block;
    position: relative;
    transition: 0.5s ease-in-out;
    /* color: #0087ca; */
}

.underlineEffect::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.underlineEffect:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
