button,
a,
link {
    display: inline-block;
    position: relative;
    transition: 0.3s ease-in-out;
    /* color: #0087ca; */
}
button:hover,
link:hover,
a:hover {
  animation: pulse 1s infinite;
  
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
